$vivo-purple:         #660099;
$vivo-purple-light:   lighten($vivo-purple, 15%);
$vivo-purple-lighten: lighten($vivo-purple, 25%);
$vivo-purple-dark:    darken($vivo-purple, 15%);
$vivo-purple-darker:  darken($vivo-purple, 25%);