@import "_bts-vars-override"; // local variables

// bootstrap variables and mixins
@import "../../node_modules/bootstrap/scss/_variables.scss",
        "../../node_modules/bootstrap/scss/_mixins.scss";

@import "components";

// Pages
@import "pages/home";